<ion-modal-view align="center" ng-controller="formCtrl">
<ion-header-bar class="bar-positive" align-title="center">
<div ng-include="'templates/form-head.html'"></div>
<div class="title">
印章证照出借申请单
	</div>
</ion-header-bar> <ion-content delegate-handle="formMainScroll">
<div ng-include="'templates/form-tab.html'"></div>
<div id="FA_SEAL_CERT_LENT_APPLICATION">
	<div class="list">
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="编号">{{i18nForm.LABEL_12}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].ID.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="发起人">{{i18nForm.LABEL_13}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].INITIATOR.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="部门">{{i18nForm.LABEL_14}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].DEPT.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="日期">{{i18nForm.LABEL_15}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].APPLY_DATE.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="公司主体">{{i18nForm.LABEL_16}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].COMPANY.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="其他说明">{{i18nForm.LABEL_17}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].OTHER_INSTRUCTIONS.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="出借时间">{{i18nForm.LABEL_18}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].LENT_TIME.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="归还时间">{{i18nForm.LABEL_19}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].RETURN_TIME.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="出借事由">{{i18nForm.LABEL_20}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].LENT_REASON.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="印章名称">{{i18nForm.LABEL_22}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].OFFICIAL_SEAL.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].CONTRACT_CHAPTER.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].CORPORATE_NAME_SEAL.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].FINANCIAL_CHAPTER.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].SIGNATURE_OF_LEGAL_PERSON.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].OTHER_SEALS.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="营业执照">{{i18nForm.LABEL_24}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].ORIGINAL_BUSINESS_LICENSE.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="组织机构代码证">{{i18nForm.LABEL_25}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].ORIGINAL_ORG_CODE_CERT.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="税务登记证">{{i18nForm.LABEL_26}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].OG_TAX_REGISTRATION_CERT.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="银行开户许可证">{{i18nForm.LABEL_28}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].OG_OPEN_BANK_ACCOUNT_PERMIT_CERT.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="ICP证">{{i18nForm.LABEL_29}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].OG_ICP_CERT.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="一般纳税人资格认定">{{i18nForm.LABEL_30}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].OG_GENERAL_TAXPAYER_QUALIFICATION.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="其他证件">{{i18nForm.LABEL_31}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].OG_OTHER_DOCUMENTS.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="其他证件名称">{{i18nForm.LABEL_32}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_LENT_APPLICATION[0].OTHER_DOCUMENTS_NAME.val"></div>
		</div>
			</div>
</div>

	<div ng-include="'templates/proc-list.html'"></div>
  <div class="detail-list">
    <div class="detail-list-bg">

      <div class="detail-title" ng-click="showOrHideDetail('detail-FA_SEAL_CERT_LENT_FILEINFO',$event)">
        附件
        <i class="ion-plus detail-title-ion"></i>
      </div>
      <div style="display: none" class="detail-info" id="detail-FA_SEAL_CERT_LENT_FILEINFO">
        <div class="list"  ng-repeat="detail in formData.FA_SEAL_CERT_LENT_FILEINFO">
          <div class="item item-input custom-item-input">
            <span class="list-index">{{$index+1}}</span>
			<span class="input-label custom-input-label "
            labeName="附件">{{i18nForm.LABEL_47}}</span>
            <div class="custom-div"
                 ng-bind="detail.ATTACHMENT.val"></div>
          </div>
          <div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
            labeName="说明">{{i18nForm.LABEL_48}}</span>
            <div class="custom-div"
                 ng-bind="detail.REMARK.val"></div>
          </div>
          <div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
            labeName="上传人">{{i18nForm.LABEL_50}}</span>
            <div class="custom-div"
                 ng-bind="detail.UPMANID.val"></div>
          </div>
          <div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
            labeName="上传日期">{{i18nForm.LABEL_49}}</span>
            <div class="custom-div"
                 ng-bind="detail.UP_DATE.val"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content> </ion-modal-view>
