<ion-modal-view align="center" ng-controller="formCtrl">
<ion-header-bar class="bar-positive" align-title="center">
<div ng-include="'templates/form-head.html'"></div>
<div class="title">
印章证照使用申请单
	</div>
</ion-header-bar> <ion-content delegate-handle="formMainScroll">
<div ng-include="'templates/form-tab.html'"></div>
<div id="FA_SEAL_CERT_USE_APPLICATION">
	<div class="list">
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="编号">{{i18nForm.LABEL_23}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].ID.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="发起人">{{i18nForm.LABEL_24}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].USER_NAME.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="部门">{{i18nForm.LABEL_25}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].DEPT.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="日期">{{i18nForm.LABEL_26}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].APPLY_DATE.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="公司主体">{{i18nForm.LABEL_27}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].COMPANY.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="其他说明">{{i18nForm.LABEL_28}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].OTHER_INSTRUCTIONS.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="使用时间">{{i18nForm.LABEL_29}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].USE_TIME.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="项目名称">{{i18nForm.LABEL_30}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].PROJECT_NAME.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="使用事由">{{i18nForm.LABEL_31}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].USE_REASON.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="印章名称">{{i18nForm.LABEL_33}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].OFFICIAL_SEAL.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].CONTRACT_CHAPTER.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].CORPORATE_NAME_SEAL.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].FINANCIAL_CHAPTER.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].FINANCIAL_CHAPTER_CONFIRMATIONS.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].SIGNATURE_OF_LEGAL_PERSON.val"></div>
          <div class="custom-div" ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].OTHER_SEALS.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="营业执照">{{i18nForm.LABEL_36}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].BUSINESS_LICENSE_COPIES.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="组织机构代码证">{{i18nForm.LABEL_37}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].ORG_CODE_CERT_COPIES.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="税务登记证">{{i18nForm.LABEL_38}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].TAX_REGI_CERT_COPIES.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="银行开户许可证">{{i18nForm.LABEL_39}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].OPEN_BANK_PERMIT_CERT_COPIES.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="一般纳税人资格认定">{{i18nForm.LABEL_40}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].GENERAL_TAXPAYER_QUAL_COPIES.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="其他证件">{{i18nForm.LABEL_41}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].ORIGINAL_OTHER_DOCUMENTS_COPIES.val"></div>
		</div>
				<div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
				labeName="其他证件名称">{{i18nForm.LABEL_42}}</span>
			<div class="custom-div"
				ng-bind="formData.FA_SEAL_CERT_USE_APPLICATION[0].OTHER_DOCUMENTS_NAME.val"></div>
		</div>
			</div>
</div>

	<div ng-include="'templates/proc-list.html'"></div>
  <div class="detail-list">
    <div class="detail-list-bg">

      <div class="detail-title" ng-click="showOrHideDetail('detail-FA_SEAL_CERT_USE_FILEINFO',$event)">
        附件
        <i class="ion-plus detail-title-ion"></i>
      </div>
      <div style="display: none" class="detail-info" id="detail-FA_SEAL_CERT_USE_FILEINFO">
        <div class="list"  ng-repeat="detail in formData.FA_SEAL_CERT_USE_FILEINFO">
          <div class="item item-input custom-item-input">
            <span class="list-index">{{$index+1}}</span>
			<span class="input-label custom-input-label "
            labeName="附件">{{i18nForm.LABEL_69}}</span>
            <div class="custom-div"
                 ng-bind="detail.ATTACHMENT.val"></div>
          </div>
          <div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
            labeName="说明">{{i18nForm.LABEL_70}}</span>
            <div class="custom-div"
                 ng-bind="detail.REMARK.val"></div>
          </div>
          <div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
            labeName="上传人">{{i18nForm.LABEL_71}}</span>
            <div class="custom-div"
                 ng-bind="detail.UPMANID.val"></div>
          </div>
          <div class="item item-input custom-item-input">
			<span class="input-label custom-input-label "
            labeName="上传日期">{{i18nForm.LABEL_72}}</span>
            <div class="custom-div"
                 ng-bind="detail.UP_DATE.val"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content> </ion-modal-view>
